<h1 class="center jumbotron">Change Your Mind?</h1>
<%= bootstrap_form_for @to_do do |f| %>
   
  <%= f.text_field :title %>

  <%= f.text_field :category %>
  
  <%= f.select(:priority, options_for_select([['Today', 1], ['Tomorrow',2], ['Whenever',3]])) %>

  <%= f.label :completed, class: "checkbox inline" do %>
        <%= f.check_box :completed %>
      <% end %>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>