  
<h1 class="center jumbotron"> <%= (fa_icon "check-square-o", text: "Stuff Ya Gotta Do... Eventually", right: true)%></h1>
<p><%= link_to "New To Do", new_to_do_path, class: 'btn btn-primary btn-sm' %></p>
<% @to_dos.each do |to_do| %>
 
  <h3><%= to_do.title %> | Category: <%= to_do.category %></h3>
  <h4>Priority: <% if to_do.priority == 1  %> 
    Today
    <% elsif to_do.priority ==2 %>
    Tomorrow
    <% else %>
    Whenever
    <% end %>

    | Done?: <%= to_do.completed ? "Yes" : "Nope" %></h4>
  
  <%= link_to 'View To Do', to_do_path(to_do), class: 'btn btn-success btn-sm' %>
  <%= link_to 'Edit To Do', edit_to_do_path(to_do), class: 'btn btn-warning btn-sm' %>
  <%= link_to 'Delete To Do', to_do, method: :delete, class: 'btn btn-danger btn-sm' %>
<% end %>
