<h1 class="center jumbotron">A New To Do</h1>
<%= bootstrap_form_for @to_do do |f| %>
   
  <%= f.text_field :title %>

  <%= f.text_field :category %>
  
  <%= f.text_field :priority %>

  <%= f.label :completed, class: "checkbox inline" do %>
        <%= f.check_box :completed %>
      <% end %>

  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
