<h1 class="center jumbotron">To Do's</h1>
<h2><%= @to_do.title %></h2>
<h3>Category: <%= @to_do.category %> | Priority: <%= @to_do.priority %></h3>
<h4>Done?: <%= @to_do.completed %></h4>
<%= link_to 'Back', to_dos_path, class: 'btn btn-default' %>